{
  "openapi": "3.1.0",
  "info": {
    "title": "Cronheart API",
    "version": "v1",
    "description": "REST API for managing monitors and notification channels. Authenticate with a personal access token as a Bearer credential; the two signup operations take none. Included on every plan; the rate limit depends on the plan."
  },
  "servers": [
    {
      "url": "https://cronheart.com"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/api/v1/monitors": {
      "get": {
        "summary": "List monitors",
        "tags": [
          "monitors"
        ],
        "responses": {
          "200": {
            "description": "Paginated monitors (offset)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MonitorList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          }
        ]
      },
      "post": {
        "summary": "Create a monitor",
        "tags": [
          "monitors"
        ],
        "responses": {
          "201": {
            "description": "Monitor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Monitor"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Optional. A retried POST with the same key replays the first response instead of creating a duplicate.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MonitorCreate"
              }
            }
          }
        }
      }
    },
    "/api/v1/monitors/{uuid}": {
      "get": {
        "summary": "Get a monitor",
        "tags": [
          "monitors"
        ],
        "responses": {
          "200": {
            "description": "Monitor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Monitor"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ]
      },
      "patch": {
        "summary": "Update a monitor (partial)",
        "tags": [
          "monitors"
        ],
        "responses": {
          "200": {
            "description": "Monitor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Monitor"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MonitorEdit"
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a monitor",
        "tags": [
          "monitors"
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ]
      }
    },
    "/api/v1/monitors/{uuid}/pause": {
      "post": {
        "summary": "Pause a monitor",
        "tags": [
          "monitors"
        ],
        "responses": {
          "200": {
            "description": "Monitor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Monitor"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ]
      }
    },
    "/api/v1/monitors/{uuid}/resume": {
      "post": {
        "summary": "Resume a monitor",
        "tags": [
          "monitors"
        ],
        "responses": {
          "200": {
            "description": "Monitor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Monitor"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ]
      }
    },
    "/api/v1/monitors/{uuid}/snooze": {
      "post": {
        "summary": "Snooze a monitor",
        "tags": [
          "monitors"
        ],
        "responses": {
          "200": {
            "description": "Monitor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Monitor"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Snooze"
              }
            }
          }
        }
      }
    },
    "/api/v1/monitors/{uuid}/unsnooze": {
      "post": {
        "summary": "Clear a snooze",
        "tags": [
          "monitors"
        ],
        "responses": {
          "200": {
            "description": "Monitor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Monitor"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ]
      }
    },
    "/api/v1/monitors/{uuid}/rotate-uuid": {
      "post": {
        "summary": "Rotate the ping URL (requires confirm)",
        "tags": [
          "monitors"
        ],
        "responses": {
          "200": {
            "description": "Monitor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Monitor"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RotateConfirm"
              }
            }
          }
        }
      }
    },
    "/api/v1/monitors/{uuid}/pings": {
      "get": {
        "summary": "List a monitor's pings (cursor)",
        "tags": [
          "monitors"
        ],
        "responses": {
          "200": {
            "description": "Paginated pings (cursor)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PingList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Opaque next_cursor from the previous page.",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v1/monitors/{uuid}/alerts": {
      "get": {
        "summary": "List a monitor's alerts (offset)",
        "tags": [
          "monitors"
        ],
        "responses": {
          "200": {
            "description": "Paginated alerts (offset)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlertList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          }
        ]
      }
    },
    "/api/v1/channels": {
      "get": {
        "summary": "List channels",
        "tags": [
          "channels"
        ],
        "responses": {
          "200": {
            "description": "Account channels",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChannelList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "post": {
        "summary": "Create a channel",
        "tags": [
          "channels"
        ],
        "responses": {
          "201": {
            "description": "Channel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Channel"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Optional. A retried POST with the same key replays the first response instead of creating a duplicate.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChannelCreate"
              }
            }
          }
        }
      }
    },
    "/api/v1/channels/{id}": {
      "get": {
        "summary": "Get a channel",
        "tags": [
          "channels"
        ],
        "responses": {
          "200": {
            "description": "Channel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Channel"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "patch": {
        "summary": "Rename a channel",
        "tags": [
          "channels"
        ],
        "responses": {
          "200": {
            "description": "Channel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Channel"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChannelRename"
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a channel",
        "tags": [
          "channels"
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v1/channels/{id}/rotate-secret": {
      "post": {
        "summary": "Rotate a webhook secret",
        "tags": [
          "channels"
        ],
        "responses": {
          "200": {
            "description": "Channel with the new plaintext secret",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChannelWithSecret"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v1/channels/{id}/test": {
      "post": {
        "summary": "Send a test alert",
        "tags": [
          "channels"
        ],
        "responses": {
          "200": {
            "description": "Delivery result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TestResult"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v1/account": {
      "get": {
        "summary": "Account plan, budget, and rate limit",
        "tags": [
          "account"
        ],
        "responses": {
          "200": {
            "description": "Account usage",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/api/v1/signup": {
      "post": {
        "summary": "Start a signup from a terminal",
        "tags": [
          "signup"
        ],
        "security": [],
        "responses": {
          "202": {
            "description": "Request recorded; the same answer whether or not the address has an account. A mail with a confirmation link goes to the address.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignupStarted"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/SignupDisabled"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SignupStart"
              }
            }
          }
        }
      }
    },
    "/api/v1/signup/token": {
      "post": {
        "summary": "Poll a signup for its token",
        "tags": [
          "signup"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Confirmed: the account, its default project and this token now exist. Returned once.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignupToken"
                }
              }
            }
          },
          "202": {
            "description": "Not confirmed yet; poll again after the interval.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignupPending"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/SignupDisabled"
          },
          "410": {
            "$ref": "#/components/responses/Gone"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SignupPoll"
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Personal access token issued at /account/api-tokens."
      }
    },
    "schemas": {
      "Monitor": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "schedule_kind": {
            "type": "string",
            "enum": [
              "cron",
              "interval",
              "simple"
            ]
          },
          "schedule_expr": {
            "type": "string"
          },
          "tz": {
            "type": "string"
          },
          "grace_seconds": {
            "type": "integer"
          },
          "channels": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MonitorChannel"
            }
          },
          "status": {
            "type": "string",
            "enum": [
              "new",
              "up",
              "late",
              "down",
              "paused"
            ]
          },
          "open_incident": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/OpenIncident"
              },
              {
                "type": "null"
              }
            ]
          },
          "next_expected_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "snoozed_until": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "last_ping_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "ping_url": {
            "type": "string",
            "format": "uri"
          },
          "badge_url": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "OpenIncident": {
        "type": "object",
        "description": "The incident the monitor has open. No new alert fires while it is open; a successful run (success or heartbeat) closes it, and pause, resume, snooze and /start leave it open.",
        "required": [
          "kind",
          "since"
        ],
        "properties": {
          "kind": {
            "type": "string",
            "enum": [
              "late",
              "fail"
            ],
            "description": "The alert that opened it."
          },
          "since": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "When that alert was raised; null if it cannot be found."
          }
        }
      },
      "MonitorChannel": {
        "type": "object",
        "description": "A channel this monitor alerts, ordered by id. Slim by design — fetch the channel for its verified state and config.",
        "properties": {
          "id": {
            "type": "string",
            "description": "Pass back as a channel_ids entry to reproduce this routing."
          },
          "kind": {
            "type": "string",
            "enum": [
              "email",
              "telegram",
              "slack",
              "discord",
              "webhook"
            ]
          },
          "label": {
            "type": "string"
          }
        }
      },
      "Channel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "kind": {
            "type": "string",
            "enum": [
              "email",
              "telegram",
              "slack",
              "discord",
              "webhook"
            ]
          },
          "label": {
            "type": "string"
          },
          "verified": {
            "type": "boolean"
          },
          "config": {
            "type": "object",
            "description": "Kind-specific config; secrets redacted."
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ChannelWithSecret": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Channel"
          },
          {
            "type": "object",
            "properties": {
              "secret": {
                "type": "string",
                "description": "New plaintext secret, returned once."
              }
            }
          }
        ]
      },
      "Ping": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "kind": {
            "type": "string",
            "enum": [
              "heartbeat",
              "start",
              "success",
              "fail"
            ]
          },
          "received_at": {
            "type": "string",
            "format": "date-time"
          },
          "runtime_ms": {
            "type": [
              "integer",
              "null"
            ]
          }
        }
      },
      "Alert": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "kind": {
            "type": "string",
            "enum": [
              "late",
              "fail",
              "recovered"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "dispatched_to": {
            "type": [
              "object",
              "null"
            ]
          }
        }
      },
      "Account": {
        "type": "object",
        "properties": {
          "plan": {
            "type": "object",
            "properties": {
              "key": {
                "type": "string"
              },
              "label": {
                "type": "string"
              },
              "monitor_limit": {
                "type": "integer"
              }
            }
          },
          "monitor_budget": {
            "type": "object",
            "properties": {
              "used": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "remaining": {
                "type": "integer"
              }
            }
          },
          "api_rate_limit": {
            "type": "object",
            "properties": {
              "limit": {
                "type": "integer"
              },
              "remaining": {
                "type": "integer"
              }
            }
          }
        }
      },
      "TestResult": {
        "type": "object",
        "properties": {
          "delivered": {
            "type": "boolean"
          },
          "newly_verified": {
            "type": "boolean"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        }
      },
      "MonitorList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Monitor"
            }
          },
          "total": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          }
        }
      },
      "ChannelList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Channel"
            }
          },
          "total": {
            "type": "integer"
          }
        }
      },
      "AlertList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Alert"
            }
          },
          "total": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          }
        }
      },
      "PingList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Ping"
            }
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Pass as ?cursor= for the next page; null on the last page."
          }
        }
      },
      "MonitorCreate": {
        "type": "object",
        "required": [
          "name",
          "schedule_kind",
          "schedule_expr"
        ],
        "properties": {
          "name": {
            "type": "string",
            "minLength": 2,
            "maxLength": 120,
            "description": "Leading and trailing spaces, control and invisible characters (such as U+200B) do not count toward minLength."
          },
          "schedule_kind": {
            "type": "string",
            "enum": [
              "cron",
              "interval",
              "simple"
            ]
          },
          "schedule_expr": {
            "type": "string",
            "maxLength": 120
          },
          "tz": {
            "type": "string",
            "default": "UTC"
          },
          "grace_seconds": {
            "type": "integer",
            "minimum": 0,
            "maximum": 86400,
            "default": 60
          },
          "channel_ids": {
            "type": "array",
            "items": {
              "type": [
                "integer",
                "string"
              ],
              "description": "Channel id; a numeric string (as returned in a monitor's channels[].id) is accepted too."
            }
          }
        }
      },
      "MonitorEdit": {
        "type": "object",
        "description": "All fields optional; only provided keys change.",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 2,
            "maxLength": 120,
            "description": "Leading and trailing spaces, control and invisible characters (such as U+200B) do not count toward minLength."
          },
          "schedule_kind": {
            "type": "string",
            "enum": [
              "cron",
              "interval",
              "simple"
            ]
          },
          "schedule_expr": {
            "type": "string",
            "maxLength": 120
          },
          "tz": {
            "type": "string"
          },
          "grace_seconds": {
            "type": "integer",
            "minimum": 0,
            "maximum": 86400
          },
          "channel_ids": {
            "type": "array",
            "items": {
              "type": [
                "integer",
                "string"
              ],
              "description": "Channel id; a numeric string (as returned in a monitor's channels[].id) is accepted too."
            }
          }
        }
      },
      "Snooze": {
        "type": "object",
        "required": [
          "duration"
        ],
        "properties": {
          "duration": {
            "type": "string",
            "enum": [
              "1h",
              "4h",
              "1d",
              "1w"
            ]
          }
        }
      },
      "RotateConfirm": {
        "type": "object",
        "required": [
          "confirm"
        ],
        "properties": {
          "confirm": {
            "type": "string",
            "description": "Must equal the monitor's current uuid."
          }
        }
      },
      "ChannelCreate": {
        "type": "object",
        "required": [
          "kind",
          "label"
        ],
        "properties": {
          "kind": {
            "type": "string",
            "enum": [
              "email",
              "telegram",
              "slack",
              "discord",
              "webhook"
            ]
          },
          "label": {
            "type": "string",
            "minLength": 2,
            "maxLength": 80
          },
          "address": {
            "type": "string",
            "description": "Required for email."
          },
          "chat_id": {
            "type": "string",
            "description": "Required for telegram."
          },
          "webhook_url": {
            "type": "string",
            "description": "Required for slack/discord/webhook."
          },
          "secret": {
            "type": "string",
            "minLength": 16,
            "description": "Required for webhook."
          }
        }
      },
      "ChannelRename": {
        "type": "object",
        "required": [
          "label"
        ],
        "properties": {
          "label": {
            "type": "string",
            "minLength": 2,
            "maxLength": 80
          }
        }
      },
      "SignupStart": {
        "type": "object",
        "required": [
          "email",
          "accept_terms"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "maxLength": 180
          },
          "accept_terms": {
            "type": "boolean",
            "const": true,
            "description": "Must be true. The terms are accepted for the record by whoever confirms on the emailed page."
          }
        }
      },
      "SignupStarted": {
        "type": "object",
        "properties": {
          "device_code": {
            "type": "string",
            "description": "Secret; send it to /api/v1/signup/token and show it to nobody."
          },
          "user_code": {
            "type": "string",
            "pattern": "^[BCDFGHJKLMNPQRSTVWXZ]{4}-[BCDFGHJKLMNPQRSTVWXZ]{4}$",
            "description": "Show it to the person, who types it on the emailed page."
          },
          "expires_in": {
            "type": "integer",
            "description": "Seconds until both codes expire."
          },
          "interval": {
            "type": "integer",
            "description": "Minimum seconds between polls."
          },
          "hint": {
            "type": "string"
          }
        }
      },
      "SignupPoll": {
        "type": "object",
        "required": [
          "device_code"
        ],
        "properties": {
          "device_code": {
            "type": "string"
          }
        }
      },
      "SignupPending": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "authorization_pending"
            ]
          }
        }
      },
      "SignupToken": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string",
            "description": "The API token, shown this once."
          },
          "token_prefix": {
            "type": "string"
          },
          "project": {
            "type": "string",
            "description": "The token is scoped to the account default project."
          }
        }
      },
      "Problem": {
        "type": "object",
        "description": "RFC 7807 problem detail.",
        "properties": {
          "type": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "status": {
            "type": "integer"
          },
          "detail": {
            "type": "string"
          },
          "errors": {
            "type": "object",
            "description": "Per-field validation messages (422)."
          },
          "error": {
            "type": "string",
            "description": "On the signup endpoints: invalid_request, signup_disabled, rate_limited, slow_down or expired_token."
          }
        }
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Missing, invalid, expired, or revoked token.",
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/Problem"
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found (also masks cross-tenant access).",
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/Problem"
            }
          }
        }
      },
      "Conflict": {
        "description": "The channel kind is disabled, or an Idempotency-Key was reused with a different request.",
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/Problem"
            }
          }
        }
      },
      "Unprocessable": {
        "description": "Validation failed; see errors.",
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/Problem"
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "Rate limit exceeded: the plan request limit, or a per-action limit such as the account's monitor or channel create limit, test sends, verification emails, signup requests or signup polls. Wait for Retry-After; X-RateLimit-* describe the request limit.",
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/Problem"
            }
          }
        }
      },
      "BadRequest": {
        "description": "The body is not a JSON object.",
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/Problem"
            }
          }
        }
      },
      "SignupDisabled": {
        "description": "Signup from the API is switched off.",
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/Problem"
            }
          }
        }
      },
      "UnsupportedMediaType": {
        "description": "The body is not application/json.",
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/Problem"
            }
          }
        }
      },
      "Gone": {
        "description": "The signup request is unknown, expired, cancelled or already claimed; the detail names the recovery.",
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/Problem"
            }
          }
        }
      },
      "BadGateway": {
        "description": "Test delivery to the destination failed.",
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/Problem"
            }
          }
        }
      }
    }
  }
}
